############################
# Python
############################
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/

############################
# Spark
############################
metastore_db/
spark-warehouse/
derby.log

############################
# Kafka
############################
kafka-logs/
*.log

############################
# Data / Runtime Artifacts
############################
data/
checkpoints/
*.parquet
*.crc
*.tmp

############################
# Docker
############################
*.env
.env
docker-compose.override.yml

############################
# IDE / Editor
############################
.vscode/
.idea/
*.swp
*.swo

############################
# OS
############################
.DS_Store
Thumbs.db